<%= form_with model: @post do |f| %>
  <ul>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>

    <p>
      <%= f.text_area :post, size: "50x10" %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <% end %>
